body{
    background-color: black;
}
div{
width: 50%;
margin-left: 25%;
margin-top: 100px;
color: white;
font-family: "Libre Baskerville", serif;
text-align: center;
}
h1{
    text-transform: uppercase;
}
img{
    border: 5px solid whitesmoke;
    width: 300px;


}
a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-size: 15px;
  }
  a:hover {
    background-color: #CCCCCC;
    color: blue;
  }
  .previous {
    background-color: cyan;
    color: blue;
  }
  .next {
    background-color: cyan;
    color: blue;
  }
  .round {
    border-radius: 50%;
  }

